<!-- your html code here -->
<div class="justify-content-center">
    <h2>Contact</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est minus beatae voluptatum doloribus maiores deleniti
        natus, quis, illo laudantium rem aperiam! Maiores, rerum. Minima, ratione quas inventore corporis amet
        perferendis.</p>
    <div class="col-8">
        <form>
            <div class="input-group mb-3 ">
                <span class="input-group-text" id="basic-addon1">Your E-mail</span>
                <input type="text" class="form-control" placeholder="E-mail" aria-label="E-mail" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <span class="input-group-text">Your comment</span>
                <textarea class="form-control" aria-label="With textarea" placeholder="Your comment"></textarea>
              </div>
            </div>
            <button type="submit" class="btn btn-primary justify-content-end">Submit</button>
          </form>
        </div>
    </div>