<!-- your html code here -->

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
          <img src="https://tse3.mm.bing.net/th?id=OIP.72LD-dPtCuFtgcN0TCoysgHaE7&pid=Api&P=0&h=180" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">First heading</h5>
          <p class="card-text">Donec ullacomper nula non metus actor fingilla.</p>
        </div>
      </div>
    </div>
  </div>