<!-- your html code here -->
<div>
    <div class="row justify-content-center">
        <div class="d-flex col-4 justify-content-end">
            <img src="https://img.freepik.com/foto-gratis/persona-primer-plano-teclado-mac-inalambrico_23-2148761313.jpg"
                class="rounded-circle" style="height: 80px;">
        </div>
        <div class="col-7 ">
            <p>The Second Heading Is Pretty Cool Too.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nesciunt cumque, aperiam ex temporibus
                provident veniam iusto blanditiis labore id distinctio alias, accusantium illo quas possimus recusandae
                aliquid odit nostrum?</p>
        </div>
    </div>
</div>